{% extends '::base.html.twig' %}

{% form_theme form 'EBAppBundle:Form:fields.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>Student creation</h1>

            <form action="{{ path('student_create') }}" {{ form_enctype(form) }} method="POST" role="form">
                <div class="form-group">
                    {{ form_label(form.firstName) }}
                    {{ form_widget(form.firstName, {attr: {placeholder: 'First name'}}) }}
                    {{ form_errors(form.firstName) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.lastName) }}
                    {{ form_widget(form.lastName, {attr: {placeholder: 'Last name'}}) }}
                    {{ form_errors(form.lastName) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.fatherInitial) }}
                    {{ form_widget(form.fatherInitial, {attr: {placeholder: 'Father initial'}}) }}
                    {{ form_errors(form.fatherInitial) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.pin) }}
                    {{ form_widget(form.pin, {attr: {placeholder: 'Pin'}}) }}
                    {{ form_errors(form.pin) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.city) }}
                    {{ form_widget(form.city, {attr: {placeholder: 'City'}}) }}
                    {{ form_errors(form.city) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.address) }}
                    {{ form_widget(form.address, {attr: {placeholder: 'Address'}}) }}
                    {{ form_errors(form.address) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.highSchool) }}
                    {{ form_widget(form.highSchool, {attr: {placeholder: 'High school'}}) }}
                    {{ form_errors(form.highSchool) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.specialization) }}
                    {{ form_widget(form.specialization, {attr: {placeholder: 'Specialization'}}) }}
                    {{ form_errors(form.specialization) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.admissionExamGrade) }}
                    {{ form_widget(form.admissionExamGrade, {attr: {placeholder: '0.00'}}) }}
                    {{ form_errors(form.admissionExamGrade) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.baccalaureateAverageGrade) }}
                    {{ form_widget(form.baccalaureateAverageGrade, {attr: {placeholder: '0.00'}}) }}
                    {{ form_errors(form.baccalaureateAverageGrade) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.baccalaureateMaximumGrade) }}
                    {{ form_widget(form.baccalaureateMaximumGrade, {attr: {placeholder: '0.00'}}) }}
                    {{ form_errors(form.baccalaureateMaximumGrade) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.admission) }}
                    {{ form_widget(form.admission) }}
                    {{ form_errors(form.admission) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success'}}) }}
                </div>
                {{ form_rest(form) }}
            </form>

            <a href="{{ path('student') }}">
                Back to the list
            </a>
        </div>
    </div>
{% endblock %}
